@tailwind base;
@tailwind components;
@tailwind utilities;

.wit::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgb(230, 36, 37);
}
.wit:hover:before{
  width: 100%;
}
.active::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgb(230, 36, 37);
}
.url{
  background: url(/image/hero-1.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}
.frl{
  background: url(/image/hero-2.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}
.textSm{
  font-size: 13.5px;
  font-weight: 600;
}
.landing{
  /* max-width: 1280px; */
place-items: center;
justify-content: center;
align-items: center;
margin: 0 auto;
top:calc( 35% - 68px);
}
.stack{
place-items: center;
justify-content: center;
align-items: center;
margin: 0 auto;
top:calc( 85% - 68px);
background: transparent;
}
.stack img{
  background: transparent;
}
.width{
width: 280px;
height: 280px;
border-radius: 83px 83px 83px 83px;
}
.max{
  max-width: 500px;
}
.home{
  min-height: calc(100vh - 88px );
  position: relative;
}
@media (min-width:992px) {
  .linkHome{
    display: flex;
gap: 175px;
  }
}
.bordeo{
  transition: 0.2s ease;
  border: 1.7px solid #555;
}
.image{
  min-height: calc(100vh - 120px);
}

.textwidth{
width: calc(100vw - 50px);
position: absolute;
font-size: 15px;
padding:  0 30px;
left: 0%;
top: 29%;
}
.lineparag{
line-height: 2;
margin-bottom: 26px;
}
.textbutton{
  font-size: 15px;
}
@media (min-width:600px) {
  .textwidth{
    width: 510px;
  }
}
@media (min-width:768px) {
  .textwidth{
    width: 450px;
    left: 13%;
    padding:  0;
  }
}
.leftArrow{
  position: absolute;
  margin-left: 10px;
  left: 0;
  top: 50%;
  display: none;
}
.rightArrow{
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 50%;
  display: none;
}
@media (min-width:768px) {
  .leftArrow{
    display: none;
  }
  .rightArrow{
    display: none;
  }
  .leftArrowOne{
    display: none;
  }
  .leftArrowTwo{
    display: none;
  }
}
.leftArrowOne{
  position: absolute;
  width: 14px;
  left: 4%;
  display: none;
}
.leftArrowTwo{
  position: absolute;
  width: 14px;
  left: 67%;
  display: none;
}
.linkMedia{
  position: absolute;
  left: 13%;
  width: 200px;
  bottom: 0%;
}
@media (max-width:767px) {
  .linkMedia{
    bottom: 3%;
    left: 5%;
  }
  .bannerImg{
    width: calc(100% - 70px);
    max-width: 510px;
  }
  .bannerText{
    width: calc(100% - 70px);
    max-width: 510px;
  }
  .bannerText h2{
    line-height: 1.5;
    margin: 10px 0;
   font-size:calc(12px + (200 - 12) * ((100vw - 320px) / (1920 - 320)));
  }
}
.bannerText h2{
  font-size:36px;
  font-weight: 600;
}
.lineSpan{
  border: 1px solid #000;
}

.shoesAppThree,
.shoesAppTwo,
.shoesAppOne{
  width: calc(100% - 50px);
  margin-left: 20px ;
  margin-right: 20px ;

}
#bannerTextMoreOne,
#bannerTextMore{
  margin-right: -50px;
}
/* .shoesAppTwo{
  width: calc((100% - 10px));
} */
@media (min-width:768px) {
  .shoesAppTwo{
    margin-left: -100px;
  }
}
/*----------------- 992 width -------------------------*/
@media (min-width:992px) {
  #bannerTextMore{
    margin-right: -160px;
  }
  .twinUnited{
    display: flex;
  }
  .shoesAppTwo,
  .shoesAppThree{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  #bannerTextMoreOne{
    margin-right: -150px;
  }
  .shoesAppOne{
    width: calc(70% - 50px);
    margin-left: 340px;
  }
  .shoesAppTwo{
    margin-top: -160px;
  }
}
@media (min-width:1200px) {
  #bannerTextMore{
    margin-right: -80px;
  }
  .shoesAppThree{
margin-right: 60px;
  }
  #bannerTextMoreOne{
    margin-right: -70px;
  }
  .shoesAppOne{
    width: calc(60% - 50px);
    margin-left: 450px;
  }
}


.bgCenter{
  background-position: center center;
  width: calc(100% - 50px);
}
@media (max-width:575px) {
  .bgCenter{
    min-height:250px;
  }
}
@media (min-width:576px) {
  .bgAll{
display: grid;
grid-template-columns: repeat(2,minmax(0,1fr));
gap: 15px;
padding: 0 20px;
  }
.bgCenter{
  width: calc(100% - 50px);
  min-height: 200px;
}
}
@media (min-width:768px) {
  .bgCenter{
  width: calc(100% - 60px);
  }
}
@media (min-width:992px) {
  .bgAll{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 15px;
    padding: 0 10px;
    }
    .ulLink{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
    }
    .divFit{
      display: flex;
      gap: 80px;
    }
}
@media (min-width:1200px) {
  .bgAll{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 25px;
    padding: 0 130px;
    }
}
.active{
  color: #000;
}
.hiddenAdd{
background-color: #fff;
color: #f00;
width: 100%;
/* height: 100%; */

}

.sale::before{
  content: "SALE";
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 10%;
  background-color: #000;
  color: #fff;
  padding: 2px 19px;
}
.fale::before{
  content: "NEW";
  position: absolute;
  font-size: 13px;
  left: 0;
  top: 10%;
  background-color: #fff;
  color: #000;
  padding: 2px 19px;
}
.collect{
background-color: #f3f2ee;
}

.gotoRight{
  margin-right: -150px;
}
@media (max-width:476px) {
  .bgSite{
    width: calc((100% / 2));
  }
}
@media (min-width:477px) {
  .bgSite{
    width: fit-content;
    gap: 22px;
  }
  .gotoRight{
font-size: 33px;
  }
  #gotoCenter{
    font-size: 40px;
  }
}
@media (min-width:600px) {
  .bgSite{
    width: calc((100% / 4));
  }
}
@media (min-width:600px) {
  .bgSite{
    width: fit-content;
    padding-left: 120px;
  }
}

@media (max-width:599px) {
  .collectImg{
display: flex;
justify-content: center;
align-items: center;
  }
  .coponPrix{
    top: -40px;
    right: 5%;
  }
  
}
@media (min-width:600px) {
  .collectImg{
display: flex;
justify-content: center;
align-items: center;
  }
  .coponPrix{
    top: -55px;
    right: 25%;
  }
}
@media (min-width:768px) {
  .bgSite{
    padding-left: 160px;
    gap: 25px;
  }
  .coponPrix{
    top: -55px;
    right: 30%;
  }
  .timeNumber{
    width: calc(100% - 120px);
  }
  .multiText h2{
    font-size: 45px;
  }
}
@media (max-width:599px) {
  .multiText{
    width: 100%;
    padding: 0 10px;
  }
  .timeNumber{
    font-size:35px;
    gap: calc(12px + (200 - 12) * ((100vw - 320px) / (1920 - 320)));
    padding-right: 13px;
    justify-content: center;
  }
  .String{
    font-size:16px;
  }
}
 @media (min-width:600px) {
  .timeNumber{
    gap: calc(12px + (200 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-size:35px;
  }
  .String{
    font-size:19px;
  }
}
.timeNumber{
  margin: 20px 0;
}
@media (min-width:992px) {
  .collect{
    display: flex;
    align-items: center;
    gap: 35px;
    flex-direction: row;
  }
  .bgSite{
    width: fit-content;
    padding-left: 75px;
    gap: 13px;
  }
  .coponPrix{
    top: -55px;
    right: 25%;
  }
  .multiText h2{
    font-size: 25px;
  }
  .String{
    font-size: 15px;
  }
  .timeNumber{
    width: calc(80% - 120px);
    gap: 20px;
  }
  .collectImg{
    min-width: 50%;
  }
  .nine{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .gotoRight{
font-size: 25px;
  }
  #gotoCenter{
    font-size: 33px;
  }
  .multiText h2{
    width: 100%;
    font-size: 32px;
  }
}
@media (min-width:1200px) {
  .timeNumber{
    gap: 33px;
    padding-right: 5px;
  }
  .gotoRight{
    font-size: 32px;
      }
      #gotoCenter{
        font-size: 37px;
    }
    .bgSite{
      gap: 23px;
    }
}
@media (min-width:1500px) {
.coponPrix{
  top: -55px;
  right: 28%;
}
}
.fitwidth{
  font-size: calc(5px + (200 - 12) * ((100vw - 320px) / (1920 - 320)));
}

@media (width >= 480px) {
  .gridApp{
grid-template-columns: repeat(2,minmax(0,1fr));
gap: 0;
padding: 0 15px;
  }   
  .textApp{
    padding: 0 15px;
    margin-top: 10px;
  }
}
@media (width >= 545px) {
  .appinst{
padding: 0;
/* justify-content: center;
align-items: center; */
  }  
  .gridApp{
    padding: 0 20px;
  } 
  .gridApp img{
  width: 350px;
  } 
  .textApp{
    padding: 0 25px;
  }
}
@media (width >= 545px) {
  .gridApp{
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 0;
    padding: 0 15px;
  }  
}
@media (width >= 992px) {
 .appinst{
  flex-direction: row;
 } 
 .gridApp img{
  width: 275px;
  } 
  .textApp{
    padding: 15px 20px;
  }
}
@media (width >= 1410px) {
  .gridApp img{
    width: 300px;
 } 
}
@media (width >= 1510px) {
  .gridApp img{
    width: 340px;
 } 
}
.textApp{
  padding: 0 10px;
  gap: 18px;
}











