@tailwind base;
@tailwind components;
@tailwind utilities;

.wit::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgb(230, 36, 37);
}
.wit:hover:before{
  width: 100%;
}
.active::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgb(230, 36, 37);
}
.url{
  background: url(/image/hero-1.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}
.frl{
  background: url(/image/hero-2.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}
.textSm{
  font-size: 13.5px;
  font-weight: 600;
}
.landing{
  /* max-width: 1280px; */
place-items: center;
justify-content: center;
align-items: center;
margin: 0 auto;
top:calc( 35% - 68px);
}
.stack{
place-items: center;
justify-content: center;
align-items: center;
margin: 0 auto;
top:calc( 85% - 68px);
background: transparent;
}
.stack img{
  background: transparent;
}
.width{
width: 280px;
height: 280px;
border-radius: 83px 83px 83px 83px;
}
.max{
  max-width: 500px;
}
.home{
  min-height: calc(100vh - 88px );
  position: relative;
}
@media (min-width:992px) {
  .linkHome{
    display: flex;
gap: 175px;
  }
}
.bordeo{
  transition: 0.2s ease;
  border: 1.7px solid #555;
}
.image{
  min-height: calc(100vh - 120px);
}

.textwidth{
width: calc(100vw - 50px);
position: absolute;
font-size: 15px;
padding:  0 30px;
left: 0%;
top: 29%;
}
.lineparag{
line-height: 2;
margin-bottom: 26px;
}
.textbutton{
  font-size: 15px;
}
@media (min-width:600px) {
  .textwidth{
    width: 510px;
  }
}
@media (min-width:768px) {
  .textwidth{
    width: 450px;
    left: 13%;
    padding:  0;
  }
}
.leftArrow{
  position: absolute;
  margin-left: 10px;
  left: 0;
  top: 50%;
  display: none;
}
.rightArrow{
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 50%;
  display: none;
}
@media (min-width:768px) {
  .leftArrow{
    display: block;
  }
  .rightArrow{
    display: block;
  }
  .leftArrowOne{
    display: none;
  }
  .leftArrowTwo{
    display: none;
  }
}
.leftArrowOne{
  position: absolute;
  width: 14px;
  left: 4%;
}
.leftArrowTwo{
  position: absolute;
  width: 14px;
  left: 67%;
}
